.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: #f6f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    margin-bottom: 5px;
}

.input-group {
    width: 100%;
}

.input-group-text {
    background-color: #3498db;
    color: white;
}

.form-control {
    border-radius: 0 3px 3px 0;
}

.btn-primary,
.btn-outline-secondary {
    width: auto;
    margin-top: 10px;

    &:hover {
        background-color: #3498db;
        color: white;
    }
}

.btn-primary {
    background-color: white;
    color: #3498db;
}

.btn-outline-secondary {
    color: #3498db;
    border-color: #3498db;
    margin: auto;
}

.btn-outline-secondary:hover {
    background-color: #3498db;
    color: white;
}