<div>
    <app-child>
        <h3> Some Heading</h3>
        <p #para>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur expedita, dolore ullam suscipit debitis nihil sapiente.
            Iste pariatur quaerat ipsum consequatur harum mollitia accusamus culpa,
            aperiam voluptates quisquam in eaque?
        </p>
        <p #para>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur expedita, dolore ullam suscipit debitis nihil sapiente.
            Iste pariatur quaerat ipsum consequatur harum mollitia accusamus culpa,
            aperiam voluptates quisquam in eaque?
        </p>
        <p #para>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur expedita, dolore ullam suscipit debitis nihil sapiente.
            Iste pariatur quaerat ipsum consequatur harum mollitia accusamus culpa,
            aperiam voluptates quisquam in eaque?
        </p>
        <app-test></app-test>
        <app-test [name]="'Marry'"></app-test>
        <app-test [name]="'Appa'"></app-test>
        <app-test [name]="'Mom'"></app-test>
    </app-child>
    <!-- <button (click)="showParaValue()">Show</button> -->
</div>